<%- include('./partials/header.ejs')%>
<main>
    <section class="padding-block-700">
      <div class="container">
        <div class="center-about">
            <h1 class="mb-400 about-header">About Gatherly</h1>
            <p class="about-p mb-300">We provide users with a platform that allows them to connect with others by 
                finding events they can partipate in or creating one themselves for others to 
                join. Be it food events or sport events, our goal is to help you find people with
                similar interests with which you can enjoy your favorite pasttimes with.
            </p>
            <p class="about-p">Check out our <a class="about-link" href="/events">events</a> page to get started!</p>
        </div>
      </div>
    </section>
  </main>

<%- include('./partials/footer.ejs')%>
