<%- include('./partials/header.ejs')%>
<main>
    <section class="padding-block-700">
      <div class="container">
        <div class="center-about">
            <h1 class="mb-400 about-header">Contact Us</h1>
            <p class="about-p mb-300">Address - 9201 University City Blvd, Charlotte, NC 28223</p>
            <p class="about-p">Phone - (704) 687-8622</p>
        </div>
      </div>
    </section>
  </main>

<%- include('./partials/footer.ejs')%>
