<%- include('./partials/header.ejs')%>
<div class="container">
  <h3 class="mb-300 mt-400 fs-secondary-heading"><%=error.status%> Error</h3>
  <span class=""><%=error.message%></span>
</div>
<%- include('./partials/footer.ejs')%>