<%- include('./partials/header.ejs')%>
    <main>
      <section class="padding-block-700">
        <div class="container">
          <div class="even-columns">
            <div class="column-1">
              <h1 class="fs-primary-heading">
                Bring everyone together and live life to the fullest
              </h1>
              <p class="mt-600 clear">
                Find out what's going on in your city and join in on the fun or
                make the party come to you!
              </p>

              <button class="button mt-600">
                <a class="main-button" href="/events">View Events </a>
              </button>
            </div>
            <div>
              <img src="/assets/images/main-image.png" alt="" />
            </div>
          </div>
        </div>
      </section>
    </main>
<%- include('./partials/footer.ejs')%>

