<%- include('../partials/header.ejs')%>
<main>
    <div class="container">
        <h1 class="mt-400">Sign In</h1>
        <form class="mb-400 mt-400" action="/users/login" method="POST">
            <label class="form-label" for="email">Email</label><br>
            <input class="form-control" type="email" id="email" name="email" required><br><br>
            <label class="form-label" for="password">Password</label><br>
            <input class="form-control" type="password" id="password" name="password" required><br><br>
            <button class="button event-submit-button">Login</button><br>
        </form>
        <a href="/users/new">Don't have an account yet? Create one!</a>
    </div>
</main>
<%- include('../partials/footer.ejs')%>
